.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 20px;
}

.card {
    background-color: whitesmoke;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.card:hover {
    cursor:pointer;
    outline: 5px goldenrod solid;
}

.card img {
    width: 80%;
}

.card p {
    font-family: "Play", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.loadingbox {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loadingbox p {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
}

.losescreen {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.losescreen .big {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: goldenrod;
}

.losescreen .small {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: goldenrod
}

.losescreen button {
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

.losescreen button:hover {
    cursor:pointer;
    outline: 5px goldenrod solid;
}