.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    background-color: blue;
    padding: 20px;
}

.card {
    background-color: whitesmoke;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
}