.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    min-height: 200px;
    background-color: whitesmoke;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
}

.card img {
    width: 75%;
}